@import './reset.css' ;

@font-face {
  font-family: cream_cake_regular;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/cream_cake-webfont.woff2') format('woff2') , url('./fonts/cream_cake-webfont.woff') format('woff');
}

:root {

  /* colors  */

  --white: white;

  --yellow: #fac70f;

  --red: #fb2434;

  --light-blue: #76949f;

  --dark-gray: #393e41;

  /* fonts */
  font-size: 16px;
}

body {
  background-color: var(--white);
}

h1 {
  font-family: cream_cake_regular , sans-serif;
  font-size: 3em;
  padding-left: 0.5em;
  text-align: left;
}

h2 {
  font-family: cream_cake_regular , sans-serif;
  font-size: 3em;
  text-align: center;
}

h3 {
  font-family: cream_cake_regular , sans-serif;
  font-size: 2em;
  padding-left: 0.6em;
  text-align: left;
}

button {
  background-color: var(--light-blue);
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0 0.2 0.5em var(--dark-gray);
  color: var(--white);
  margin: 0.2em 0.5em;
  padding: 0.5em 1em;
}

input[ type = 'text' ], input[ type = 'password' ] {
  border-radius: 0.3em;
  box-shadow: 0 0 0.2 0.5em var(--dark-gray);
  margin: 0.5em;
  padding: 0.5em 1em;
}

input[ type = 'checkbox' ], input[ type = 'radio' ] {
  height: 1em;
  margin: 0 0.2em;
  width: 1em;
}

p {
  padding: 2em;
  text-align: left;
}

ul {
  display: inline-block;
  list-style: inside;
  margin-left: 2em;
}

img {
  max-width: 100vw;
  padding: 0 1em;
}

video {
  margin: auto;
  padding: 0 1em;
  width: 100vw;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

footer {
  background-color: var(--yellow);
  opacity: 0.7;
  padding-top: 0.5em;
}

.loader {
  display: block;
  height: 30vh;
  margin: auto;
  margin-top: 50vh;
  width: 100vw;
}

.login-form {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  margin-top: 25vh;
  width: 70vw;
}

.login-form label input {
  margin: 0.5em 0;
}
