.favorite-recipes-container {
  display: flex;
  flex-direction: column;
}

.favorite-recipe {
  position: relative;
  border-bottom: var(--light-blue) 1px solid;
  display: flex;
  padding: 8px;
  height: 100px;
}

.favorite-recipes-filters {
  display: flex;
  justify-content: center;
}

.favorite-recipe a {
  padding: 0;
  margin: 0;
}

.favorite-recipe img {
  max-height: 100%;
  border-radius: 0 50%;
}

.favorite-recipes-container a {
  color: var(--white);
  font-family: cream_cake_regular, sans-serif;
  font-size: 2em;
}

.favorite-recipe h3:nth-child(2) {
  position: absolute;
  font-family: sans-serif;
  font-size: 1em;
  padding: 0;
  bottom: 5px;
  left: 140px;
}

.favorite-recipe a:nth-child(3) {
  position: absolute;
  font-family: cream_cake_regular;
  font-size: 2em;
  padding: 0;
  top: 5px;
  left: 140px;
}
