:root {

  /* colors  */

  --white: white;

  --yellow: #fac70f;

  --red: #fb2434;

  --light-blue: #76949f;

  --dark-gray: #393e41;

  /* fonts */
  font-size: 16px;
}

@import url('http://fonts.cdnfonts.com/css/ice-cream-cake');

@media only screen and (min-device-width: 280px) {
  .profile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .profile-email {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 10px;

  }


  .profile-button {
    margin: 15px auto;
    width: 60%;
    background-image: './images-style/logout-icon.png';
  }

  button:hover {
    background-color: #be1924;

    cursor: pointer;
  }

  h2 {
    color: white;
  }

}

/**/