.recipe-details-container {
  color: var(--white);
}

.recipe-details-header-container {
  position: relative;
  width: 100vw;
  height: 25vh;
  overflow: hidden;
  text-align: center;
}

.recipe-details-header-container img {
  padding: 0;
  margin: 0;
  max-height: 100%;
  min-width: 100%;
  filter: brightness(0.6);
  object-fit: cover;
}


.recipe-details-header-container h3:nth-child(2) {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 25%;
  font-size: 3em;
  padding: 0;
  margin-left: 0;
  margin-top: 0;
}

.recipe-details-header-container h3:nth-child(3) {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  padding: 0;
  margin-left: 0;
  margin-top: 0;
}

.recipe-details-list-container {
  color: var(--white);
  width: 90vw;
  margin-left: 5vw;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 20px 10px;
  height: fit-content;
}

.recipe-details-list-container li {
  line-height: 1.5em;
}

.recipe-details-text {
  color: var(--white);
  width: 90vw;
  margin-left: 5vw;
  line-height: 1.2em;
  letter-spacing: 1px;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 20px 10px;
}

.recipe-details-page video {
  margin-top: 5vh;
}

.recipe-details-page button {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 2vh;
}

/* share e favorite buttons */

.favorite-btn {
  position: absolute;
  top: 15vh;
  right: 0;
  width: fit-content;
  background-color: transparent;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(177deg) brightness(104%) contrast(101%);
}

.share-btn {
  position: absolute;
  top: 5px;
  right: 0;
  width: fit-content;
  background-color: transparent;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(177deg) brightness(104%) contrast(101%);
}

/* recmomended items cards */

.recomended-items-container {
  width: 90vw;
  margin: auto;
  margin-top: 20px;
  position: relative;
  padding-bottom: 40px;
}

.recomended-items-card {
  height: 15vh;
  margin: 10px 0;
  position: relative;
  border: 1px solid #727373;
  border-radius: 10px;
  padding: 5px;
}

.recomended-items-card img {
  position: absolute;
  max-width: 50%;
  height: 103%;
  border-radius: 10px 50% 50% 10px;
  top: -2px;
  left: -2px;
  padding: 0;
}

.recomended-items-card p {
  position: absolute;
  font-family: cream_cake_regular , sans-serif;
  font-size: 2em;
  color: var(--white);
  top: 20px;
  left: 45%;
  padding: 0;
}

.recipe-details-page h3 {
  margin: 0;
  margin-left: 5vw;
  margin-top: 15px;
  padding: 0;
}

.recomended-items-container h3 {
  margin: 0;
  padding-left: 0;
}

.recipe-details-voltar-btn {
  position: absolute;
  max-width: 70px;
  height: 30px;
  border-radius: 10px;
  top: 0;
  left: 10px;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.sugestion-card-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 35px;
}

.share-message {
  position: absolute;
  top: 26.5vh;
  right: 5px;
  padding: 10px;
  background-color: #727373;
  border-radius: 10px;
  color: white;
}

.btn-start-recipe {
  width: 80vw;
  margin: 10px 10vw;
  padding: 5px;
}